.build-form_radio {
	border-color: #F8F9FD;
	background-color: #FFFFFF;
	color: black;
}

.build-form_radio.is-active {
	border-color: #2B50ED;
	background-color: #2B50ED;
	color: white;
}

.build-form_radio-integration {
	border-color: #FFFFFF;
	background-color: #FFFFFF;
}

.build-form_radio-integration.is-active {
	border-color: #2B50ED;
}

.button.buld-form-submit {
	transition: all 1s ease;
	y: '0%';
	opacity: 1;
}

.button.buld-form-submit.is-disable {
	y: '100%';
	opacity: 0;
}