.build-form_radio {
  border-color: #e0e1e6;
  background-color: #ffffff;
  color: black;
}

.build-form_radio.is-active {
  border-color: #2b50ed;
  background-color: #2b50ed;
  color: white;
}

.build-form_radio-integration {
  border-color: #ffffff;
  background-color: #ffffff;
}

.build-form_radio-integration.is-active {
  border-color: #2b50ed;
}

.build-form-submit {
  transition: all 1s ease;
  y: '0%';
  opacity: 1;
}

.build-form-submit.is-disable {
  y: '100%';
  opacity: 0;
}

@media screen and (min-width: 991px) {
  .build-form_radio-integration:hover {
    background: linear-gradient(272.15deg, #2b50ed 1.56%, #607eff 99.75%);
    color: white;
  }
}
