.build-form_radio {
	border-color: #E0E1E6;
	background-color: #FFFFFF;
	color: black;
}

.build-form_radio.is-active {
	border-color: #2B50ED;
	background-color: #2B50ED;
	color: white;
}

.build-form_radio-integration {
	border-color: #FFFFFF;
	background-color: #FFFFFF;
}

.build-form_radio-integration.is-active {
	border-color: #2B50ED;
}

.build-form_radio-integration:hover {
  background: linear-gradient(272.15deg, #2B50ED 1.56%, #607EFF 99.75%);
  color: white;
}

.build-form-submit {
	transition: all 1s ease;
	y: '0%';
	opacity: 1;
}

.build-form-submit.is-disable {
	y: '100%';
	opacity: 0;
}