/********************** CTA *******************************/
@keyframes scrollCtaElement {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 1rem));
    }
}

.cta-model__marquee-content {
    animation: scrollCtaElement 20s linear infinite;
}