
/********************** Works Grid *******************************/
@media only screen and (min-width: 992px) {
    .works__list .works__item:nth-child(6n+1) {
        width: 28.1875rem;
    }

    .works__list .works__item:nth-child(6n+2) {
        width: 50.25rem;
    }

    .works__list .works__item:nth-child(6n+3) {
        width: 28.125rem;
    }

    .works__list .works__item:nth-child(6n+4) {
        width: 28.125rem;
    }

    .works__list .works__item:nth-child(6n+5) {
        width: 28.125rem;
    }

    .works__list .works__item:nth-child(6n+6) {
        width: 64.8125rem;
    }

    .works__item:nth-child(6n+1) .work-card__video {
        height: 21.125rem;
    }

    .works__item:nth-child(6n+2) .work-card__video {
        height: 31.25rem;
    }

    .works__item:nth-child(6n+3) .work-card__video {
        height: 17.5rem;
    }

    .works__item:nth-child(6n+4) .work-card__video {
        height: 17.5rem;
    }

    .works__item:nth-child(6n+5) .work-card__video {
        height: 17.5rem;
    }

    .works__item:nth-child(6n+6) .work-card__video {
        height: 40.5rem;
    }
}

/********************** CTA *******************************/
@keyframes scrollCtaElement {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 1rem));
    }
}

.cta-model__marquee-content {
    animation: scrollCtaElement 20s linear infinite;
}

/********************** Button More Works *******************************/
@keyframes buttonMoreWorksRotateClockwise {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
.works-more-button__mask {
    animation: buttonMoreWorksRotateClockwise 12s linear infinite;
}

.works__more-button:hover .works-more-button__mask {
    animation-play-state: paused;
}

/********************** Thumb Swiper *******************************/
#thumb-gallery .swiper-slide {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

#thumb-gallery .swiper-slide-thumb-active {
  opacity: 1;
}