/********************** Hero model *******************************/
.hero-model-cirle {
    opacity: 0;
    y: '100%',
}

/********************** Social model ***********************/
@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 1rem));
    }
}

.social-model__marquee-content {
    animation: scroll 40s linear infinite;
}

/********************** CTA *******************************/
.cta-model__marquee-content {
    animation: scroll 20s linear infinite;
}

/********************** Hero model *******************************/
.hero-model__mask-3 {
    animation: rotateClockwise 10s linear infinite;
}

@keyframes rotateClockwise {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.works-more-button__mask {
    animation: rotateClockwise 12s linear infinite;
}

.bild-model__cover {
    animation: rotateClockwise 12s linear infinite;
}

.bild-model__circle {
    animation: breathe 3s ease-in-out infinite;
}

@keyframes breathe {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }
}

/********************** Services links *******************************/
.services-link {
    transition: all 0.5s ease;
}

/* Когда навели на враппер — все линки становятся полупрозрачными */
.services-link__wrapper:hover .services-link {
    opacity: 0.2;
}

/* Но тот линк, на который навели, должен стать снова полностью видимым */
.services-link__wrapper:hover .services-link:hover {
    opacity: 1;
}

.services-link__number {
    transition: all 0.5s ease;
    color: #000;
    background-color: transparent;
}

.services-link:hover .services-link__number {
    color: #fff;
    background-color: #000;
}

/********************** Services video *******************************/
.services-video__cover {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 0.5s ease;
    z-index: 2;
  }
  
  #agency-video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease;
    z-index: 1;
    position: relative;
  }
  
  /* Изначально видео видно, но кавер его закрывает */
  .services-video__wrapper {
    position: relative;
    overflow: hidden;
  }
  
  /* При наведении убираем кавер */
  .services-video__wrapper:hover .services-video__cover {
    opacity: 0;
    pointer-events: none;
  }
  
  /* (опционально) При ховере можно сделать видео чуть ярче или активнее */
  .services-video__wrapper:hover #agency-video {
    opacity: 1;
  }


/********************** Works Grid *******************************/
@media only screen and (min-width: 992px) {
.works__list .works__item:nth-child(6n+1) {width: 28.1875rem;}
.works__list .works__item:nth-child(6n+2) {width: 50.25rem; }
.works__list .works__item:nth-child(6n+3) {width: 28.125rem;}
.works__list .works__item:nth-child(6n+4) {width: 28.125rem;}
.works__list .works__item:nth-child(6n+5) {width: 28.125rem;}
.works__list .works__item:nth-child(6n+6) {width: 64.8125rem;}

.works__item:nth-child(6n+1) .work-card__video { height: 21.125rem;}
.works__item:nth-child(6n+2) .work-card__video { height: 31.25rem;}
.works__item:nth-child(6n+3) .work-card__video { height: 17.5rem; }
.works__item:nth-child(6n+4) .work-card__video { height: 17.5rem; }
.works__item:nth-child(6n+5) .work-card__video { height: 17.5rem; }
.works__item:nth-child(6n+6) .work-card__video { height: 40.5rem; }
}