.industry-slider__button-track {
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

.industry-slider__buttons:hover .industry-slider__button-track {
    opacity: 1;
}

/* .industry-slider:hover .industry-slider__button-track {
    opacity: 1;
} */