.header__nav-link {
    transition: all 0.5s ease;
    color: #939393;
}

.header__nav-link:hover {
    color: #000;
}

.button-header {
    transition: all 0.5s ease;
}

.button-header__mask {
    transition: all 0.5s ease;
    opacity: 1;
}

.button-header:hover {
    color: #fff;
}

.button-header:hover .button-header__mask {
    opacity: 0;
}